<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <meta charset="UTF-8">
  <title>Feedback</title>
</head>

<body>
  <div class='container has-text-centered'>

    <div class='hero'>
      <div class="hero-body">
        <img src="http://nhshackday.com/assets/images/nhshd/header-logo2.png">
      </div>
    </div>
    <div class='container'>
      <h1 class='title'>NHS feedback</h1>

      <div class="attendance section">
          <p>Did you attend {{ name }}?</p>
          <form action="" method="post">
            <input type="radio" name="attended" id="TEST_1" value="YES" /> Yes
            <input type="radio" name="attended" id="TEST_2" value="NO" /> No
          </form>
      </div>

        <p>How would you rate your service at {{name}} today? (Your feedback is totally anonymous)</p>

      <div class='icons section'>
        <span class='icon is-large' >
            <i class = 'fa fa-star' id="1"></i>
        </span>

        <span class='icon is-large' >
            <i class = 'fa fa-star' id="2"></i>
        </span>

        <span class='icon is-large'>
            <i class = 'fa fa-star' id="3"></i>
        </span>

        <span class='icon is-large'>
            <i class = 'fa fa-star' id="4"></i>
        </span>

        <span class='icon is-large'>
            <i class = 'fa fa-star' id="5"></i>
        </span>
      </div>
      <button class='button is-primary' id="submit">I'm Done</button>
    </div>
  </div>
</body>
<script src="/static/js/main3.js"></script>
</html>
