<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMSText1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap.css">
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<br></br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    REMINDER: Thank you MR SMITH
                </h2>
                <p>
                    We have arranged an appointment for you at ROYAL MANCHESTER INFIRMARY at 10.00am on 15/7/17. Click here for directions http://bit.ly/2v6zqKf
                </p>

            </div> <a href="{{ url_for('show_map', service_id='RW3MR') }}" class="btn" type="button">Location</a>
        </div>
    </div>
</div>
</body>
</html>