<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextMessage2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap.css">
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    FEEDBACK REQUEST:
                </h2>
                <p>Would you like to provide feedback on your recent visit to ROYAL MANCHESTER INFIRMARY on 15/7/17. Click: http://bit.ly/2t4pkZ7
                </p>

            </div> <a href="{{  url_for('show_feedback', service_id='RW3MR') }}" class="btn" type="button">Feedback</a>
        </div>
    </div>
</div>
</body>
</html>